.home-container {
}

.home-paginator {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.home-paginator li button {
  background: var(--accent);
  color: var(--white);
}

.home-paginator li button:hover {
  background: var(--accent-light);
}
.home-paginator li button.Mui-selected {
  background: var(--primary);
  color: var(--white);
}



.home-filters {
  margin-bottom: 10px;
}

.home-advert-list {
  display: flex;
  flex-wrap: wrap;
}

.home-advert-list-item {
  margin: 10px;
  flex: 1 0 20%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .home-advert-list-item {
    flex: 1 0 33%;
  }
}

/* Landscape phones and down */
@media (max-width: 580px) {
  .home-advert-list-item {
    flex: 1 0 50%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .home-advert-list-item {
    flex: 1 0 33%;
  }
}

/* Large desktop */
/* @media (min-width: 1200px) {
    .home-advert-list-item {
        flex: 1 0 20%;
      }
} */
