.advert-detail-image img {
  width: 240px;
  max-width: 240px;
}
.advert-detail-description {
  background: lightgray;
  padding: 10px;
}

.advert-detail-image {
  margin-right: 10px;
}

.advert-detail-content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.advert-detail-info .owner {
  display: inline-block;
  color: var(--accent);
}
.advert-detail-info .owner:hover {
  color: var(--primary);
  cursor: pointer;
}
.advert-detail-info .for-sale {
  display: inline-block;
  color: var(--accent);
}


/*---------------------------------*/

/* Landscape phone to portrait tablet */
.advert-detail-container {
  display: flex;
  flex-direction: row;
}

.advert-detail-image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.advert-detail-image img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.advert-detail-title {
  display: flex;
  text-align: center;
}

.advert-detail-info .price {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-size: 1.5rem;
  background: var(--accent);
  margin: 5px 0;
  border-radius: 5px;
  color: var(--white);
  width: 50%;
}

.advert-detail-description {
  margin-top: 10px;
}

/* Landscape phones and down */
@media (max-width: 580px) {
  .advert-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advert-detail-image img {
    width: 100%;
  }

  .advert-detail-title {
    display: flex;
    text-align: center;
  }

  .advert-detail-info .price {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-size: 1.5rem;
    background: var(--accent);
    margin: 5px 0;
    border-radius: 5px;
    color: var(--white);
    width: 100%;
  }
}
